{{> partial/htmlstart}}

{{> partial/welcome-animation}}
{{> partial/header}}
{{> partial/home-section}}
{{> partial/about-section}}
{{> partial/reward-section}}
{{> partial/howjoin-section}}
{{> partial/contact-section}}
{{> partial/footer}}

{{> partial/htmlend}}