        <section id="about" class="container-fluid center">
            <div class="row main-width">
                <div class="about-tournament col-11 col-md-9 col-xl-6">
                    <h5>O TURNIEJU</h5>
                    <h3>Graj z najlepszymi, poczuj ducha rywalizacji
                    i wiatr we włosach</h3>
                    <p>Party Parrot Tournament to turniej
                        piłkarzyków, który oferuje jego uczestnikom
                        niezwykłe doznania, takie jak duże ilości
                        dokuczliwych żartów ze strony drużyny przeciwnej i frustrujące porażki, 
                        ale także satysfakcjonujące zwycięstwa oraz możliwość zobaczenia grymasu 
                        na twarzy osoby, którą właśnie pokonałeś 10 - 0. Brzmi ciekawie?</p>
                    <button id="button" type="button">Dołącz do turnieju</button>
                </div>
                <div class="about-photo col-12 col-md-9 col-xl-7">
                    
                </div>

                <div class="about-stats col-12 col-md-3 col-xl-5">
                    <h5>DZIENNE STATYSTYKI</h5>
                    <ul class="stats">
                        <li class="stats-item center">
                            <h2>90</h2>
                            <p>Rozegranych meczów</p>
                        </li>
                        <li class="stats-item">
                            <h2>1530</h2>
                            <p>Strzelonych bramek</p>
                        </li>
                        <li class="stats-item">
                            <h2>3</h2>
                            <p>Litry potu</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section> 