        <section id="contact" class="container-fluid center">
            <div class="row main-width vertical-center">
                <div class="contact-photo col-12 col-xl-6">
            
                </div>
                <div class="contact-form col-12 col-xl-6">
                    <h5>KONTAKT</h5>
                    <h3>Napisz do nas!</h3>
                    
                    <input type="text" placeholder="Imię i nazwisko"/>
                    <input type="email" placeholder="Adres e-mail"/>
                    <textarea name="texarea" placeholder="Treść wiadomości"></textarea>

                    <button id="button" type="button">Wyślij wiadomość</button>
                </div>
            </div>
        </section> 