
        <header class="container-fluid center">
            <div class="row main-width">
                <div class="header-container col-12">
                    <div class="logo"><a class="svg" href="http://johnnybros.com/" target="_blank"><img class="welcome" src="assets/images/jb-logo.svg" alt="Johny Bros Logo"/></a></div>              
                    <nav class="nav">
                        <ul class="menu list vertical-center">
                            <li class="menu-item">
                                <a class="menu-item-link" href="#home">Home</a></li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#about">O turnieju</a></li>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#reward">Nagrody</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#howjoin">Jak dołączyć</a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-link" href="#contact">Kontakt</a>
                            </li>
                        </ul>
                    </nav>      
                    <div class="icon hamburger"><img src="assets/svg/hamburger-icon.svg" alt="Menu Hamburger Icon" /></div>                     
                    <div class="icon close-btn scale-down"><img src="assets/svg/close-btn.svg" alt="Menu Close Icon" /></div>                     
                </div>
            </div>
        </header>        
                
        