
        <section id="home" class="container-fluid center">
            <div class="row main-width">
                <div class="home-container col-12">
                    <h4>TURNIEJ PIŁKARZYKÓW</h4>
                    <h1>Party Parrot Tournament</h1>
                    <p>Czy masz już dosyć nudnej codzienności, potrzebujesz nowych doznań,
                    lub po prostu chcesz wymiatać w piłkarzykach? W takim wypadku możesz być,
                    pewien, że turniej piłkarzyków Party Parrot jest stworzony dla Ciebie!</p>
                    <button id="button" type="button">Dołącz do turnieju</button>                    
                    <div class="scroll-down center"><img src="assets/svg/arrow-bottom.svg" alt="Arrow down"/></div>
                </div>
            </div>
        </section> 