        <section id="howjoin" class="container-fluid center">
            <div class="row main-width">
                <div class="howjoin-container col-11 col-md-9 col-xl-6">
                    <h5>JAK DOŁĄCZYĆ?</h5>
                    <h3>Wystarczy chwila, aby móc cieszyć się piłkarzykami!</h3>
                    <p>Zachęciły Cię nagrody lub wizja momentów pełnych satysfakcji
                    i chcesz dołączyć do turnieju? Zarejestruj się na naszym
                    serwisie i zacznij cieszyć się emocjami przy stole piłkarzyków!</p>
                    <button id="button" type="button">Dołącz do turnieju</button>
                </div>
                <div class="howjoin-quote col-12 col-md-9 col-xl-7">
                    <h2>"</h2>
                    <p>Nic we mnie nie wzbudziło większych emocji
                    niż Turniej Piłkarzyków Party Parrot. Świetna zabawa
                    i idealny sposób na integrację pracowników. Chcesz wiedzieć 
                    jak poznałam bliżej ekipę z pracy? Grałam z nimi w piłkarzyki.
                    To niby proste, a jednak gdy ukryty gen rywalizacji sportowej
                    powoduje, że poznajesz tę samą osobę od innej strony.
                    Masa śmiechu gwarantowana. Dzięki Turniejowi Party Parrot mogłam zostać
                    Lewandowskim w spódnicy, a co!</p>
                    <div>
                        <img src="assets/images/pp-social-proof.png" alt="Jolanta Social Photo"/>
                        <span>
                            <p>Jolanta</p>
                            <p>analityk SEO na rynek niemiecki</p>
                        </span>
                    </div>
                </div>
            </div>
        </section> 