        <section id="reward" class="container-fluid horizontal-center">
            <div class="row main-width horizontal-center">
                <div class="reward-container col-7 col-md-6">
                    <h5>NAGRODY</h5>
                    <h3>Dla pięciu najlepszych graczy
                    przygotowano specjalne nagrody</h3>
                </div>


                <div class="reward-list-container col-12">                  
                    <ul class="reward-list">
                        <li class="reward-item">
                            <h2>#1</h2>
                            <div class="center"><img class="reward-svg" src="assets/images/pp-reward-1.svg" alt="Johny Bros Reward"/></div>
                            <p>Uścisk dłoni prezesa</p>
                        </li>
                        <li class="reward-item">
                            <h2>#2</h2>
                            <div class="center"><img class="reward-svg" src="assets/images/pp-reward-2.svg" alt="Johny Bros Reward"/></div>
                            <p>Roczna prenumerata gazety "Wędkarski Świat"</p>
                        </li>
                        <li class="reward-item">
                            <h2>#3</h2>
                            <div class="center"><img class="reward-svg" src="assets/images/pp-reward-3.svg" alt="Johny Bros Reward"/></div>
                            <p>Trial na stronie do skracania linków ujeb.se</p>
                        </li>
                        <li class="reward-item">
                            <h2>#4</h2>
                            <div class="center"><img class="reward-svg" src="assets/images/pp-reward-4.svg" alt="Johny Bros Reward"/></div>
                            <p>Licencja programu WinRar</p>
                        </li>
                        <li class="reward-item">
                            <h2>#5</h2>
                            <div class="center"><img class="reward-svg" src="assets/images/pp-reward-5.svg" alt="Johny Bros Reward"/></div>
                            <p>Możliwość pracy po godzinach</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>